# Secret key for JWT token authentication
JWT_SECRET=my_secret_key

# URL for the database, using SQLite as an example
DATABASE_URL=sqlite:///my_database.db

# API endpoint prefix for the URL shortener service
API_ENDPOINT=/shortypy